extends base

block content
    div#videoContainer(data-Id=video._id)
        if isHeroku 
            video(src=video.fileUrl, tabindex="0")
        else 
            video(src="/" + video.fileUrl, tabindex="0")
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen
                    i.fas.fa-expand
    
    div.video__data
        div.video__header 
            p.video__title=video.title
            small.video__owner Uploader
                br
                a(href=`/users/${video.owner._id}`)=video.owner.name
            small.video__views view counts 
                br 
                span #{video.meta.views}
        
        div.video__header
            small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
            if String(video.owner._id) === String(loggedInUser._id)
                div.button
                    a(href=`${video.id}/edit`) Edit Video
                br
                div.button
                    a(href=`${video.id}/delete`) Delete Video
        br
        span.video__description-header DESCRIPTION
        br
        span.video__description=video.description
        br
        


    if loggedIn
        div.video__add-comments
            form.video__commentform#commentForm
                textarea( cols="30", rows="10", placeholder = "Write a Comment...")
                button Add Comment 

    div.video__comments
        ul
            each comment in video.comments.reverse()
                li.video__comment(data-id=comment.id)
                    div.comment__icon
                        i.fas.fa-comment
                    div.comment__content
                        pre  #{comment.text}
                    if String(loggedInUser._id) === String(comment.owner._id)
                        div.comment__delete
                            span#deleteBtn__comment ❌


block scripts
    script(src="/static/js/videoPlayer.js") 
    if loggedIn 
        script(src="/static/js/commentSection.js") 