extends base



block content 
    video(src="/"+video.fileUrl, controls, width="800", height="450")
    div
        p=video.description
        small=video.createdAt
        br
        small Uploaded by #{owner.name}
    
    if String(loggedInUser._id) === String(video.owner)
        br
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;